a { color: #9acd32; }


body { border-top: 3px solid #000; overflow-x:hidden; } 

div#header { margin: 0 0 30px 0; }

div#header > h1.title {
	font-size: 30px;
	letter-spacing: -0.09em;
	font-weight: bold;
	display: inline;
}
div#header > h1.title a {
	color: #000;
}

div#header > ul#nav {
	display: inline;
	margin: 0;
	padding: 0;
	float: right;
}

div#header > ul#nav > li {
	display: inline;
	font-size: 18px;
}

div#header > ul#nav > li + li {
	margin-left: 10px;
}

div#header a {
	text-decoration: none;
}
div#header a:hover {
    color: #BCFC3D;
	border-bottom: 2px solid #BCFC3D;
}

div#alert{
	color: #fff;
	text-align: center;
	background: #9acd32;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 30px;
}

div#alert a:hover {
	color: #1DACF6;
}
div#alert a {
	color: #098dd2 ;
}

.post {
    border-bottom: #EEE 1px solid;
    margin-bottom: 35px ;
}

div.main {
	margin-bottom: 50px;
}

h1 {
	letter-spacing: -0.03em;
}

h2 {
	font-size: 26px;
	letter-spacing: -0.07em;
	margin-bottom: 0;
}

p.meta {
	font-size: 16px;
	font-style: italic;
	font-family: georgia;
	color: #ccc;
	margin-top: 0;
}
object {
padding:18%;
}

#left {
    width: 50%;
    float: left;
}
#right{
    width:50%;
    float: right;
    clear:both;
    
}

div#footer {
	margin-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	font-style: italic;
	color: #999;
}

div#footer ul {
	margin: 0;
	padding: 0;
}

div#footer li {
	display: inline;
}

div#footer li + li {
	margin-left: 30px;
}

div#footer h4 {
	letter-spacing: -0.065em;
	color: #666;
}

div#home p + p {
	text-indent: 10px;
}

div#home {
	margin-left: 40px
}

div#sliver {
	height: 90px;
	background: url('../images/dandy.jpg') 0 -60px;
}

div#shadow {
	-webkit-box-shadow: 0 -8px 10px #000;
	-moz-box-shadow: 0 -8px 10px #000;
	background-color: #fff;
	height: 20px;
}

img.us_image {
	background: white;
	padding: 5px;
	-webkit-box-shadow: 0px 2px 5px #666;
	-moz-box-shadow: 0px 2px 5px #666;
	width: 93%;
}

ul#people {
	margin-top: 20px;
	margin-left: 120px;
	padding: 0;
	font-weight: bold;
}

ul#people > li {
	display: inline;
}

ul#people > li + li {
	margin-left: 40px;
}

.contact {
    text-align: center;
    font-weight: bold;
}
div#big_block {
    background-color:#EFEFEF;
    border-bottom:1px solid #DCDCDC;
/*    border-top:1px solid #DCDCDC;*/
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

div#big_block p {
	text-align: left;
	font-family: georgia;
	font-size: 25px;
/*  font-style: italic;*/
/*  color: #999;*/
	letter-spacing: -0.05em;
	padding: 10px;
	margin:0 auto;
	padding-bottom: 5px;
}
div#big_block span.inside {
    font-size: 20px;
    margin-left:30px;
}


div#big_block span.our_def {
    margin-left:20px;
    display:block;
}

#learn_more {
    position: relative;
    float: right;
    font-size: 12px;
    padding: 10px 10px 0 5px;
}


div#cc_info {
	margin-top: 30px;
	color: #999;
	font-size: 8px;
}

div#cc_info a {
	color: #333;
}

div#other_info {
	color: #999;
	font-size: 8px;
}

div#other_info a {
	color: #333;
}

div#more_posts {
    float:right;
    margin:10px 20px 0 0;
}

