<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="diaspora" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">diaspora*</a>
    <a class="extra" href="/project.html">project</a>
    <a class="extra" href="/people.html">people</a>
    <a class="extra" href="/blog.html">blog</a>
  </div>
    {%include alert.html%}
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <ul>
        <li>diaspora is a lovingly made by:</li>
        <li>Daniel Grippi</li>
        <li>Maxwell Salzberg</li>
        <li>Raphael Sofaer</li>
        <li>Ilya Zhitomirskiy</li>
        </ul>
      </p>
    </div>
    <div class="contact">
      <p>

      </p>
    </div>
    <div class="rss">

      </a>
    </div>
  </div>
</div>

<!-- <a href="http://github.com/mojombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a> -->


</body>
</html>
